apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gateway-controller.name" . }}
spec:
  selector:
    matchLabels:
      app: gateway-controller
  replicas: {{ .Values.deployment.replicas }}
  template:
    metadata:
      labels:
        app: gateway-controller
    spec:
      containers:
        - args:
            - homelab-helper
            - gateway-run-controller
          livenessProbe:
            httpGet:
              path: /healthz
              port: metrics
            initialDelaySeconds: 15
            periodSeconds: 20
          image: ghcr.io/benfiola/homelab-helper:{{ .Values.deployment.image.tag | default .Chart.AppVersion }}
          name: gateway-controller
          ports:
            - name: metrics
              containerPort: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: metrics
            initialDelaySeconds: 5
            periodSeconds: 10
          {{- if .Values.deployment.resources }}
          resources: {{ .Values.deployment.resources | toYaml | nindent 10 }}
          {{- end }}          
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            privileged: false
      serviceAccountName: {{ include "gateway-controller.name" . }}
